.container-recent {
  width: 90%;
}

.recent-section {
  background-image: url("https://rog.asus.com/dist/img/rog_bg_pattern.jpg");
  width: 100%;
  min-height: 80vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  margin-top: 190px;
  padding: 2rem;
  .card-text {
    text-align: center;
    margin-bottom: 1rem;
    color: #fff;
    h2{
      font-size: 2rem;
      font-weight: 700;
    }
  }
  .recent-stores__cards__up {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;

    &__card {
      background-image: url("https://dlcdnrog.asus.com/rog/media/1670893994624.webp");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      width: 33%;
      min-height: 500px;
      align-items: flex-end;
      p{
        color: #fff;
        font-weight: 700;
        padding: 1rem;
      }
    }
  }
  .recent-stores__cards__down {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;

    &__card {
      background-image: url("https://dlcdnrog.asus.com/rog/media/1667344658657.webp");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      width: 50%;
      min-height: 300px;
      align-items: flex-end;
      p{
        color: #fff;
        font-weight: 700;
        padding: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 768px){
	.recent-section{
    .recent-stores__cards__up{
      overflow: scroll;
      &__card{
        min-width: 400px;
      }
    }
    .recent-stores__cards__down{
      overflow: scroll;
      &__card{
        min-width: 400px;
      }
    }
  }
}
@media only screen and (max-width: 768px){
	.recent-section{
    margin-top: 50px;
    .recent-stores__cards__up{
      &__card{
        min-width: 200px;
        min-height: 280px;
      }
    }
    .recent-stores__cards__down{
      &__card{
        min-width: 200px;
        min-height: 280px;
      }
    }
  }
}